<app-header></app-header>
<div class="board">
  <!-- Add List Section -->
  <div class="add-list">
    <input
      type="text"
      [(ngModel)]="newListTitle"
      placeholder="Enter list title"
      class="form-control"
    />
    <br>
    <button (click)="addList()" class="btn btn-primary">Add List</button>
  </div>

  <!-- Display Lists -->
  <div class="list-container">
    <app-list
      *ngFor="let list of lists"
      [list]="list"
      (removeList)="removeList($event)"
    ></app-list>
  </div>
</div>
